node_modules/
public/assets/tailwind.css
.DS_Store
npm-debug.log*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
backend/cache/
backend/__pycache__/
*.egg-info/
dist/
build/




